$color-1:#d4d4d4;

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

header>div {
  width: 100vw;
  height: 5vh;
  background-color: white;
  border-bottom:1px solid $color-1 ;

  position: fixed;
  top: 0;
  z-index: 5;
}

nav {
  width: 100vw;
  height: 5vh;
  
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  &>div {
    width: 90vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

nav>div>div{
  width: 7vw;
  height: 7vw;
  background-color: $color-1;
}