$color-1:#d4d4d4;
$color-2:#949494;
$color-3:#5e5e5e;
$color-4:#252525;
$color-5:#ffffff;



@mixin flex($flex-j, $flex-a, $flex-d) {
  display: flex;
  justify-content: $flex-j;
  align-items: $flex-a;
  flex-direction: $flex-d;
}

@mixin box($box-w, $box-h,$box-c, $box-r, $box-f) {
  width: $box-w;
  height: $box-h;
  background-color: $box-c;
  border-radius: $box-r;
  backdrop-filter: $box-f;
}

*{margin: 0; padding: 0;}

#baner {
  @include box (100vw, 25vh, $color-1, none, none);
  margin-top: 5vh;
}

main {
  width: 100vw;
  height: 100vh;
  // border: 1px solid red;

  @include flex(center, center, column);
}


.box-row-1 {
  width: 20vw;
  height: 1vh;
  background-color: $color-5;
  position: absolute;
}

.box-row-2 {
  width: 20vw;
  height: 1vh;
  background-color: $color-5;
  position: absolute;
  transform: rotate(90deg);
  
}

.box-pro {
  @include box(50vw, 50vw, $color-1, 30vw, none);
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.box-border {
  border: 0.7px solid $color-3;
  width: 48vw;
  margin-bottom: 4vw;
}

.text-pro {
  font-size: 90%;
  color: $color-2;
  
  //여기에 클릭하라는 듯 글자가 커졌다가 작아졌다하는 액션 위의 원형도 같이 하면 재밌을 것 같음.
  //4/26 배운걸 사용하면 가능할것.
}

.text-make-1 {
  font-size: 120%;
  font-weight: 600;
  color: $color-3;
  margin-bottom: 2vw;
}

.text-make-2 {
  font-size: 90%;
  color: $color-2;
}

.section-1 {
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.flex-star-cen-column {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.button-1 {
  margin-top: 2vh;
  width: 30vw;
  height: 5vh;
  background-color: $color-2;
  border-radius: 2vw;
  
  font-size: 100%;
  font-weight: 600;
  color: $color-5;
}

//프로필-다이어리 내용 
// .image-box {
//   width: 100vw;
//   height: 30vh;
//   background-color: $color-1;
//   margin-top:5vh;
// }
  
// .diary-box {
//   width: 90vw;
//   height: 25vh;
//   background-color: $color-2;
//   margin-top: 2vh;
// }
  
// .icon-ul {
//   width: 7vw;
//   height: 7vw;
//   background-color: $color-2;
    
//   position: absolute;
//   top: 6vh;
//   left: 5vw;
// }
  
// .icon-ur {
//   width: 7vw;
//   height: 7vw;
//   background-color: $color-2;
  
//   position: absolute;
//   top: 6vh;
//   left: 89vw;
// }
  
// .icon-dr {
//   width: 7vw;
//   height: 7vw;
//   background-color: $color-2;
    
//   position: absolute;
//   top: 27vh;
//   left: 89vw;
// }
  
// .text-box {
//   width: 60vw;
//   height: 8vh;
    
//   position: absolute;
//   top: 24vh;
//   left: 5vw;
// }

// .text-diary-m{
//   font-size: 100%;
//   color: $color-3;
//   text-align: center;
// }

// .text-d-t{
//   font-size: 110%;
//   color: $color-3;
//   font-weight: 600;
// }
// .text-d-st{
//   font-size: 90%;
//   color: $color-2;
//   font-weight: 600;
// }

// .text-d-tt{
//   font-size: 90%;
//   color: $color-2;
// }

// #under-menu {
//   width: 100vw;
//   height: 5vh;
//   // border: 1px solid red;
  
//   @include flex(center, center, column);
  
//   &>div:nth-child(1) {
//     @include flex(start, center, none);
    
//     width: 90vw;
//     height: 5vh;
    
//     position: relative;
//     z-index: 2;
//     top: 0.2vw;
    
//     &>div{ //메뉴1
//       @include flex(center, center, none);
      
//       height: 5vh;
//       margin-right: 3vw;
//       // width: 25vw;
//     }
//   }
// }

// .under-bar{
//   width: 100vw;
//   border: 0.7px solid $color-2;
  
//   position: relative;
//   bottom: 0;
// }

// #under-menu>div:nth-child(1)>div :hover {
//   height: 3.5vh;
//   border-bottom: 3px solid $color-3;
//   padding-top: 1.5vh;
// }

// // main>section:nth-child(2)>div:nth-child(1)>div>div :hover {
//   //   font-weight: 600;
//   // }
//   //마우스 오버를 하면 글씨가 두꺼워 진다(?) > 수정 필요

.picture-d {
  width: 35vw;
  height: 18vh;
  background-color: $color-5;
}
.picture-small {
  background-color: $color-1;
}
.text-d-mt{
  font-size: 105%;
  color: $color-2;
  font-weight: 600;
}
.text-d-sm {
  font-size: 95%;
  font-weight: 600;
  color: $color-4;
  line-height: 7.5vw;
}

.text-d-ss {
  font-size: 80%;
  color: $color-4;
  line-height: 5vw;
}