@use 'base';
@use 'daily';
@import "base.css";
@import "daily.css";
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#baner {
  width: 100vw;
  height: 25vh;
  background-color: #d4d4d4;
  border-radius: none;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  margin-top: 5vh;
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-row-1 {
  width: 20vw;
  height: 1vh;
  background-color: #ffffff;
  position: absolute;
}

.box-row-2 {
  width: 20vw;
  height: 1vh;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.box-pro {
  width: 50vw;
  height: 50vw;
  background-color: #d4d4d4;
  border-radius: 30vw;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.box-border {
  border: 0.7px solid #5e5e5e;
  width: 48vw;
  margin-bottom: 4vw;
}

.text-pro {
  font-size: 90%;
  color: #949494;
}

.text-make-1 {
  font-size: 120%;
  font-weight: 600;
  color: #5e5e5e;
  margin-bottom: 2vw;
}

.text-make-2 {
  font-size: 90%;
  color: #949494;
}

.section-1 {
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.flex-star-cen-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-1 {
  margin-top: 2vh;
  width: 30vw;
  height: 5vh;
  background-color: #949494;
  border-radius: 2vw;
  font-size: 100%;
  font-weight: 600;
  color: #ffffff;
}

.diary-box {
  width: 90vw;
  height: 23vh;
  background-color: #949494;
}

.picture-d {
  width: 35vw;
  height: 18vh;
  background-color: #ffffff;
}

.picture-small {
  background-color: #d4d4d4;
}

.text-d-mt {
  font-size: 105%;
  color: #949494;
  font-weight: 600;
}

.text-d-sm {
  font-size: 95%;
  font-weight: 600;
  color: #252525;
  line-height: 7.5vw;
}

.text-d-ss {
  font-size: 80%;
  color: #252525;
  line-height: 5vw;
}

.icon {
  width: 5vw;
  height: 5vw;
  background-color: #d4d4d4;
}

.text-s {
  font-size: 95%;
  color: var(--color-3);
}

.text-s-c {
  font-size: 95%;
  color: var(--color-3);
  text-decoration: line-through;
}

.flex-s-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-box {
  width: 4vw;
  height: 4vw;
  border: 1px solid var(--color-2);
  margin: 1vw;
  margin-left: 2vw;
}

.check-box-c {
  width: 4vw;
  height: 4vw;
  border: 1px solid var(--color-2);
  background-color: var(--color-2);
  margin: 1vw;
  margin-left: 2vw;
}

.f-c-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-box-1 {
  border: 1px solid #d4d4d4;
  border-radius: 4vw;
  padding-top: 1.6vh;
  padding-left: 4vw;
  color: #949494;
  font-size: 95%;
}

.login-box-2 {
  background-color: #d4d4d4;
  border-radius: 4vw;
  text-align: center;
  padding-top: 1.3vh;
  font-size: 120%;
  font-weight: 600;
  color: #949494;
}

.login-box-3 {
  background-color: #d4d4d4;
  border-radius: 4vw;
  text-align: center;
  padding-top: 1.4vh;
  font-size: 105%;
  color: #5e5e5e;
}

.text-l-s {
  width: 66vw;
  padding-top: 1vh;
  color: #5e5e5e;
  text-align: end;
}

.text-l-s:hover {
  font-weight: 600;
  color: #252525;
}

.under-bar-l {
  background-color: #949494;
  width: 28vw;
  height: 0.1vh;
}

.text-l-m {
  margin: 2vw;
  color: #949494;
  font-weight: 600;
}

.text-di-m {
  font-size: 110%;
  font-weight: 600;
  color: #5e5e5e;
  text-align: center;
  width: 80vw;
}

.text-di-s {
  font-size: 95%;
  color: #5e5e5e;
  margin-left: 2vw;
}

#nav {
  width: 100vw;
  margin-top: 5vh;
}

#nav > div:nth-child(1) {
  width: 100vw;
  height: 5vh;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
  position: fixed;
  z-index: 2;
  top: 5vh;
}

#nav > div:nth-child(2) {
  width: 20vw;
  height: 20vw;
  background-color: #949494;
  border-radius: 20vw;
  position: fixed;
  top: 80vh;
  left: 70vw;
}

#pictures {
  width: 90vw;
  height: 24vh;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  margin-bottom: 2vh;
}

#pictures > div {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.d-picture {
  width: 100vw;
  height: 50vh;
  background-color: #d4d4d4;
  margin-bottom: 2vw;
}

.text-di-dm {
  margin-left: 2vw;
  font-size: 105%;
  font-weight: 600;
  color: #949494;
}

.text-di-dt {
  font-size: 95%;
  color: #949494;
  margin-top: 2vw;
}

.box-mypage {
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: #d4d4d4;
  margin-bottom: 3vh;
}

.text-d-t {
  font-size: 110%;
  color: #5e5e5e;
  font-weight: 600;
}

.text-d-tt {
  font-size: 90%;
  color: #949494;
}

.mypage-box {
  border: 1px solid #d4d4d4;
  border-radius: 4vw;
  text-align: center;
  padding-top: 1.6vh;
  color: #949494;
  font-size: 95%;
}

.mypage-box:hover {
  background-color: #d4d4d4;
  font-weight: 600;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */